.indicators a {
    background: #00416a;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
    background: #e4e5e6;
}


.superHero1 {
    background-image: url(img/Mercury_in_true_color.jpg);
    border-radius: 50px !important;
}

.superHero2 {
    background-image: url(img/Venus_2_Approach_Image.jpg);
    border-radius: 50px !important;
}

.superHero3 {
    background-image: url(img/The_Earth_seen_from_Apollo_17.jpg);
    border-radius: 50px !important;
}

.superHero4 {
    background-image: url(img/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png);
    border-radius: 50px !important;
}

.superHero5 {
    background-image: url(img/Jupiter_and_its_shrunken_Great_Red_Spot.jpg);
    border-radius: 50px !important;
}

.superHero6 {
    background-image: url(img/Saturn_during_Equinox.jpg);
    border-radius: 50px !important;
}

.superHero7 {
    background-image: url(img/Uranus_Voyager2_color_calibrated.png);
    border-radius: 50px !important;
}

.superHero8 {
    background-image: url(img/Neptune_Voyager2_color_calibrated.png);
    border-radius: 50px !important;
}

